/* 글쓰기 */

#boardWrite table {width: 720px;}
#boardWrite th {width: 100px; padding: 5px; text-align: right; vertical-align: top;}
#boardWrite td {width: 620px; padding: 5px;}

#boardWrite #bID {width: 180px;}
#boardWrite #bPassword {width: 180px;}
#boardWrite #bTitle {width: 550px;}
#boardWrite #bContent {width: 550px; height: 300px;}

#boardWrite .btnSet {text-align: center;}

/* 글읽기 */

#boardView .btnSet {text-align: right;}
#boardView td.author {border-right: 1px solid #ccc; font-weight: bold; width: 180px;}
#boardView td.date {border-right: 1px solid #ccc; font-weight: bold; width: 180px;}
#boardView td.hit {border-right: 1px solid #ccc; font-weight: bold; width: 180px;}
#boardView td.title {border-right: 1px solid #ccc; font-weight: bold; width: 180px;}